* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    margin: 0;
    font-size: 1.6rem;
}

a, a:active, a:hover {
    outline: none;
    text-decoration: none;
}

a, button, svg {
    transition: all 0.3s ease-in-out;
}

textarea, input[type=text] {
    -webkit-appearance: none;
}

ul {
    list-style: none;
}

.container:before, .container:after {
    content: none;
}